{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pega.css' %}">
    <title>{% block title %} Home {% endblock %} |Horse</title>
</head>
<body>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="pegasus/">Pegasus</a></li>
    </ul>
    
    <img src="{% static 'yilki_ati-12-min.jpg' %}" alt="" width="200">

    {% block content %}

    {% endblock %}
</body>
</html>